<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
       <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
  </head>
  <body>
<h1>{{ page.title }}</h1>
<p class="author">{{ page.date | date: "%d.%m.%Y" }} - {{ page.author }}</p>
{{ content }}
<a class="author" href="https://jakob-ws.github.io/">Zurück</a>
  </body>
</html>
